<header class="title">
    <h1>Dashboard</h1>
</header>

<header class="text">
    <p>Welcome {{username}}!</p>
    <p>Available actions:</p>
</header>

<nav class="dashboard">
    <button hx-get="/dashboard/tickets/new" hx-swap="innerHTML" hx-target="article" class="button">
        Create a new ticket
    </button>

    <button hx-get="/dashboard/password" hx-swap="innerHTML" hx-target="article" class="button">
        Change password
    </button>

    <button hx-post="/dashboard/logout" hx-swap="innerHTML" hx-target="article" class="button">
        Logout
    </button>
</nav>