<header class="title">
    <h3>Change password</h3>
</header>

<header class="text">
    <p>To change your password enter your current password and your new password!</p>
</header>

<header class="msg_html">
    <p><em>{{msg_html}}</em></p>
</header>

<form hx-post="/dashboard/password" hx-swap="innerHTML" hx-target=".content" class="form">
    <div class="form-row">
        <label for="current-password">Current password</label>
        <input id="current-password" name="current_password" type="password" placeholder="Enter current password"
            required>
    </div>
    <div class="form-row">
        <label for="new-password">New password</label>
        <input id="new-password" name="new_password" type="password" placeholder="Enter new password" required>
    </div>
    <div class="form-row">
        <label for="confirm-new-password">Confirm new password</label>
        <input id="confirm-new-password" name="new_password_check" type="password" placeholder="Enter new password"
            required>
    </div>
    <button type="submit" class="button">Change password</button>
</form>

<button hx-get="/dashboard/" hx-swap="innerHTML" hx-target="article" class="back">
    &lt;- Back
</button>