<header class="title">
    <h3>See tickets</h3>
</header>

<header class="text">
    {% for ticket in tickets %}
    <div class="tickets-wrapper">
        <p class="tickets-title" hx-get="/dashboard/tickets/{{ticket.id}}" hx-swap="innerHTML" hx-target=".content">
            {% if ticket.is_open -%}
            <img class="image-ticket-open" src="/static/images/open.svg"
                alt="A green V showing that this ticket is open">
            {% else -%}
            <img class="image-ticket-close" src="/static/images/close.svg"
                alt="A red X showing that this ticket is closed">
            {%- endif %}
            {% if ticket.priority == "high" -%}
            <img class="image-ticket-high-priority" src="/static/images/high-priority.svg"
                alt="A green exclamation mark showing that this ticket is high priority" title="high priority">
            {% else if ticket.priority == "medium" -%}
            <img class="image-ticket-medium-priority" src="/static/images/medium-priority.svg"
                alt="An orange exclamation mark showing that this ticket is medium priority" title="medium priority">
            {% else -%}
            <img class="image-ticket-low-priority" src="/static/images/low-priority.svg"
                alt="A green exclamation mark showing that this ticket is low priority" title="low priority">
            {%- endif %}
            <a>{{ticket.title}}</a>
        </p>
        <p class="tickets-sub-text">
            <a>#{{ticket.id}} - Created the {{ticket.created_at}} by {{ticket.created_by}}</a>
        </p>
    </div>
    {% endfor %}
</header>

<button hx-get="/dashboard/" hx-swap="innerHTML" hx-target="article" class="back">
    &lt;- Back
</button>