<header class="title">
    <h3>See tickets</h3>
</header>

<header class="text">
    {% for ticket in tickets %}
    <div class="tickets-wrapper">
        <p class="tickets-title" hx-get="/dashboard/tickets/{{ticket.id}}" hx-swap="innerHTML" hx-target=".content">
            <a>{{ticket.title}}</a>
        </p>
        <p class="tickets-sub-text">
            #{{ticket.id}} - Created the {{ticket.created_at}}
        </p>
    </div>
    {% endfor %}
</header>

<button hx-get="/dashboard/" hx-swap="innerHTML" hx-target="article" class="back">
    &lt;- Back
</button>